/* PRINT */

.print-columns > * {
    display: table-cell;

    &:not(:last-child) {
        padding-right: 1cm;
    }
}

.lesson:not(:last-child), .intro, .coverpage {
    break-after: always;
    page-break-after: always;
}

.coverpage {
    height: 100%;
    position: relative;
}

.coverpage #c {
    font-size: 2rem;
    position: absolute;
    right: 3cm;
    bottom: 3cm;
}
.coverpage #d {
    font-size: 2rem;
    position: absolute;
    right: 3cm;
    top: 3cm;
}
.coverpage #h {
    font-size: 2rem;
    position: absolute;
    left: 3cm;
    top: 3cm;
}
.coverpage #s {
    font-size: 2rem;
    position: absolute;
    left: 3cm;
    bottom: 3cm;
}
.coverpage-container div {
    text-align: center;
}

.coverpage-container #habra {
    padding-top: 10cm;    
    font-weight: bold; 
    font-size: 4rem;
}
.coverpage-container #habra2 {
    font-size: 2rem;
}

.coverpage-container #phrase {
    padding-top: 5cm;   
    font-size: 2rem;
    font-weight: bold; 
}

.coverpage-container #name {
    padding-top: 3cm;    
}
.coverpage-container #year {
    padding-top: 0.5cm;
}

.contents ul {
    list-style: none;
}

/* END OF PRINT */

/* DOC */

@page {
    size: A4;
}

h1 {
    text-align: center;
}

*{
    box-sizing: border-box;
}

p {
    text-align: justify;
}

.auction, .literature, .distribution {
    page-break-inside: avoid;
}

.example-heading {
   display: none;
}

.columns-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 1cm;
    max-width: 50%;
}

.auction td {
    width: 35px;
    text-align: center;
}

.inline-hand span:not(:last-child) {
    margin-right: 4px;
 }

.auction-onesided tr:nth-child(2n) td:first-child,
.auction-onesided tr:nth-child(2n+1) td:nth-child(2) {
    background-color: lightgray;
}

/* END OF DOC */

/* BASIC ELEMENTS */

table:not(.distribution *):not(.distribution) {
    margin-top: 1em;
}

table:not(.distribution *):not(.distribution) td {
    padding: 2px 4px;
}

ol.alpha {
    counter-reset: list;
    padding: 0;
}
ol.alpha > li {
    list-style: none;
}
ol.alpha > li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
}

li {
    margin-top: 4px;
}

h2 {
    text-align: left;
}

ol,
ul,
h2,
h3 {
    margin-top: 1em;
}


ol.inline , ul.inline > li {
    display: inline;

    & > li, & > li {
        display: inline;
        
        &:not(:last-child)::after {
            content: ", ";
        }
    }
}

/* QUIZ, LITERATURE */

.bidding-solution,
.quiz {
    margin-top: 1em;
}

.quiz-answer span:first-child {
    /* todo */
    float: left;
    margin-top: 0;
    margin-right: 1em;
}


.literature ol {
    margin-top: 1em;
    padding: 0;
    list-style: none;
}

/* DISTRIBUTION, CARDS AND CONTRACTS */

.distribution-suit-hand-dummy :first-child {
    margin-bottom: 0.5cm;
}

.distribution-hand-dummy :first-child {
    margin-bottom: 0.5cm;
}

.distribution,
.leadcard,
.deal-contract {
    margin-top: 1em;
}

div.leadcard + div.deal-contract,
div.deal-contract + div.leadcard {
    margin-top: 0.2em;
}

.card,
.contract {
    display: inline-block;
}

.contract .declarer {
    margin-left: 6px;
}

/* AUCTION */

.auction {
    margin-top: 1em;
}

.auction-onesided {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
}

.auction div {
    padding: 0.25em 0.5em;
    text-align: center;
}

.auction-onesided .auction-bid:nth-child(4n + 2),
.auction-onesided .auction-bid:nth-child(4n + 3) {
    background-color: lightgray;
}

.auction-header {
    font-weight: bold;
    font-size: large;
}

.auction-header:nth-child(even) {
    background-color: gray;
    color: white;
}

.auction-header:nth-child(odd) {
    background-color: white;
}

.auction-nsew {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
}

.auction-nsew .auction-bid:nth-child(8n + 2),
.auction-nsew .auction-bid:nth-child(8n + 4),
.auction-nsew .auction-bid:nth-child(8n + 5),
.auction-nsew .auction-bid:nth-child(8n + 7) {
    background-color: lightgray;
}

/* bidding */

.bidding:not(.bidding .bidding) {
    margin-top: 1em;
}

.bidding-table td:first-child {
    width: 120px;
    vertical-align: top;
}



.blur {
    filter: blur(5px) grayscale(1);
}

.suit-clubs {
    color: #32ad01;
}

.suit-diamonds {
    color: #ff9b00;
}

.suit-hearts {
    color: #ff0000;
}

.suit-spades {
    color: #33339b;
}
