@import "./common.scss";

/* PRINT */

ol.print-columns > * {
    // some bug in 06 lesson 6 end
    display: inline-block;
}

.print-columns > * {
    display: table-cell;

    &:not(:last-child) {
        padding-right: 1cm;
    }
}

.lesson:not(:last-child),
.intro{
    page-break-after: always;
}

.coverpage {
    // to prevent page break
    height: 99.9%; 
    position: relative;
}

.coverpage #c {
    font-size: 2rem;
    position: absolute;
    right: 3cm;
    bottom: 3cm;
}
.coverpage #d {
    font-size: 2rem;
    position: absolute;
    right: 3cm;
    top: 3cm;
}
.coverpage #h {
    font-size: 2rem;
    position: absolute;
    left: 3cm;
    top: 3cm;
}
.coverpage #s {
    font-size: 2rem;
    position: absolute;
    left: 3cm;
    bottom: 3cm;
}
.coverpage-container div {
    text-align: center;
}

.coverpage-container #habra {
    padding-top: 10cm;
    font-weight: bold;
    font-size: 4rem;
}
.coverpage-container #habra2 {
    font-size: 2rem;
}

.coverpage-container #phrase {
    padding-top: 5cm;
    font-size: 2rem;
    font-weight: bold;
}

.coverpage-container #name {
    padding-top: 3cm;
}
.coverpage-container #year {
    padding-top: 0.5cm;
}

.contents ul {
    list-style: none;
}

/* END OF PRINT */

/* DOC */

@page {
    size: A4;
}

h1 {
    text-align: center;
}

@for $num from 2 to 6 {
    h#{$num} {
    page-break-after: avoid;
    }
}

* {
    box-sizing: border-box;
}

p {
    text-align: justify;
}

.auction,
.literature,
.distribution {
    page-break-inside: avoid;
}

.example {
    margin-bottom: 0.5cm;
}

.example-heading {
    display: none;
}

$column-gap-y: 1em;
$column-gap-x: 1.5em;

@for $num from 2 to 11 {
    .columns-item-#{$num} {
        display: inline-block;
        width: 100% / $num ;
        vertical-align: top;
        margin-top: $column-gap-y;
        padding-right: $column-gap-x;

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

    }
}


.columns-item {
    display: inline-block;
    vertical-align: top;
    margin-right: $column-gap-x;
    max-width: 50%;
    margin-bottom: $column-gap-y;

    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

}

.auction td {
    width: 35px;
    text-align: center;
}

.inline-hand span:not(:last-child) {
    margin-right: 4px;
}

.auction-onesided tr:nth-child(2n) td:first-child,
.auction-onesided tr:nth-child(2n + 1) td:nth-child(2) {
    background-color: lightgray;
}

.auction-nsew {
    margin-bottom: 1em;
}

.distribution-ew .east {
    padding-right: 1cm;
}

/* END OF DOC */

/* BASIC ELEMENTS */

table:not(.distribution *) {
    margin-top: 1em;
}

.distribution-ns td.north {
    padding-bottom: 0.5cm !important; //doesnt work without !important, wkhtml bug
}


table:not(.distribution):not(.hand):not(.distribution-table) td {
    padding: 2px 4px;
}

ol.alpha {
    padding: 0;

}

/* DISTRIBUTION, CARDS AND CONTRACTS */

.distribution {
    .distribution-table, .side {
        display: inline-block;
    }

    .distribution-table {
        margin-right: 1em;
    }

    .side {
        vertical-align: top;

        *:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

.distribution-suit-hand-dummy :first-child {
    margin-bottom: 0.5cm;
}

.distribution-hand-dummy :first-child {
    margin-bottom: 0.5cm;
}

.card,
.contract {
    display: inline-block;
}

/* bidding */

.bidding {
    margin-top: 1em;
    page-break-inside: avoid;

    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.bidding .bidding {
    margin-top: 0;
}

.bidding-table {

    & > div:not(.action-only) {
        display: table-row;

        & > div.action {
            padding-right: 1em !important;
            vertical-align: top;
            max-width: 150px;
        }

        & > div {
            display: table-cell;
        }
    }
}
